@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

$font-family: "Inter", sans-serif;
$playfair-font-family: "Playfair Display", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
$font-family-poppins: 'Poppins', sans-serif;



//Colors
$primary:                            #d80232;  // Define the color variable
$white:                              #fff;
$black:                              #000000;




// Spacing
$space2:        2px;
$space4:        4px;
$space5:        5px;
$space6:        6px;  
$space8:        8px;
$space10:       10px;
$space12:       12px;
$space14:       14px;
$space15:       15px;
$space16:       16px;
$space18:       18px;
$space20:       20px;
$space24:       24px;
$space26:       26px;
$space28:       28px;
$space30:       30px;
$space32:       32px;
$space34:       34px;
$space40:       40px;
$space45:       45px;
$space48:       48px;
$space50:       50px;
$space54:       54px;
$space56:       56px;
$space60:       60px;
$space62:       62px;
$space64:       64px;
$space68:       68px;
$space70:       70px;
$space76:       76px;
$space80:       80px;
$space85:       85px;
$space90:       90px;
$space100:      100px;
$space120:      120px;

$space130:      130px;
$space160:      160px;
$space124:      124px;
$space165:      165px;
$space200:      200px;
$space215:      215px;
$space235:      235px;
$space220:      220px;
$space255:      255px;
$space270:      270px;
$space290:      290px;
$space350:      350px;
$space385:      385px;
$space395:      395px;
$space420:      420px;
$space435:      435px;
$space450:      450px;
$space470:      470px;
$space531:      531px;
$space484:      484px;
$space625:      625px;

$space820:      820px;
$space850:      850px;
$space1020:     1020px;
$space1030:     1030px;


// Font size
$h1-font-size:                    60px;
$h1-mobile-size:                  28px;
$h2-font-size:                    40px;
$h2-mobile-size:                  24px; 
$h3-font-size:                    32px;
$h3-mobile-size:                  20px; 
$h3-font-size:                    32px;
$h3-mobile-size:                  20px; 
$h4-mobile-size:                  16px; 
$h6-mobile-size:                  14px;

$font-50:                         50px;
$font-48:                         48px;
$font-44:                         44px;
$font-40:                         40px; 
$font-24:                         24px;
$font-28:                         28px;
$font-120:                        120px;
$font-300:                        300px;
$h4-font-size:                    24px;
$h4-mobile-size:                  18px;  
$font-20 :                        20px;
$font-28 :                        28px;

$h5-font-size:                    20px;
$font-16:                         16px;
$font-18:                         18px;
$h6-font-size:                    18px;
$font-14:                         14px;
$font-13:                         13px;
$font-12:                         12px;
$font-10:                         10px;
$font-22:                         22px;

//Font weight
$font-weight-400:                 400;
$font-weight-500:                 500;
$font-weight-600:                 600;
$font-weight-700:                 700;

//border-radius
$border-radius-0:                 0px;
$border-radius-1:                 1px;
$border-radius-4:                 4px;
$border-radius-5:                 5px;
$border-radius-6:                 6px;
$border-radius-8:                 8px;
$border-radius-10:                10px;
$border-radius-12:                12px;
$border-radius-16:                16px;
$border-radius-18:                18px;
$border-radius-20:                20px;
$border-radius-24:                24px;
$border-radius-50:                50px;
$border-radius-70:                70px;
$border-radius-100:               100px;
$border-radius-150:               150px;
$border-radius-50pr:                50%;
$border-radius-100pr:              100%;

// box-shadow
$header-shadow:                     #000000;
$sidebar-shadow:                     -2px 0px 10px rgba(0, 0, 0, 0.5);


// Border width 
$border-width-1:                  1px;
$border-width-2:                  2px;



// Border Type 
$border-solid:                    solid;

// Transition
$transition:                      0.3s ease;

// breakpoint
$xll-breakpoint:                   1400px;
$xl-breakpoint:                    1199.98px;
$lg-breakpoint:                    991.98px;
$md-breakpoint:                    767.98px;
$sm-breakpoint:                    575.98px;



//icon
$play-icon-top: 50%;
$play-icon-left: 50%;

